$body-background-color: #f9f8f2;
$floating-in-height: 16px;
$warning: #F7C220;
$primary: #0F8FC6;
$pagination-current-background-color:  #F7C220;
$pagination-current-border-color: #F7C220;
$input-icon-color: #EE7800;
$input-icon-active-color: #EE7800;
$input-focus-box-shadow-size: 20px;
$input-focus-border-color: #EE7800;
